* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row button {
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
}

.row {
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.status {
  padding: 1rem 0;
}
.game {
  display: flex;
  column-gap: 2rem;
}
ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.info {
  padding-top: 1rem;
}
